@import "tailwindcss";
@plugin "daisyui";

@utility btn-primary {
  @apply bg-[#B5F44A];
  @apply text-black;
  @apply border-white;
  @apply rounded-full;
}

@utility btn-secondary {
    @apply bg-[#34623f];
  @apply text-white;
  @apply border-none;
  @apply shadow-none;
  @apply rounded-full;
}


:root {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}
