@import "tailwindcss";
@plugin "daisyui";

@utility btn-primary {
  @apply border-black;
  @apply bg-black;
  @apply shadow-secondary;
}

:root {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}
